$linkhormal: #39c;
$linkhover: #94c;

.container {

  header {
    float: left;
    position: fixed;
    width: 270px;

    a {
      color: $linkhormal;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $linkhover;
      }
    }
  }

  footer {
    bottom: 50px;
    float: left;
    position: fixed;
    width: 270px;
  }

  .content {
    float: right;
    padding-bottom: 50px;
    width: 500px;
  }
}
body {
    background: #eee !important;
}


.custom-search-form .search-query .custom-list {
  padding: 10px;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width  0.2s ease-in-out;
  -moz-transition:width  0.2s ease-in-out;
  -o-transition: width  0.2s ease-in-out;
  transition: width  0.2s ease-in-out;
}


ul{
  list-style: none;
}

.ptop {
  padding-top: 20px !important;
}

.pall {
  padding: 10px 20px 10px 20px;
}

.search-panel{
  background: #fff;
  margin: 10px 30px 25px 25px !important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.16);
  margin-top: 25px;
}

.searchPanelAnim {
  opacity: 0.01;
}


.searchPanelAnim-enter.searchPanelAnim-enter-active{
  transition: 500ms ease-in-out;
}

.searchPanelAnim-leave.searchPanelAnim-leave-active{
  transition: 500ms ease-in-out;
  opacity: 0.01;
  width: 0;
}