$linkhormal: #39c;
$linkhover: #94c;

.container {

  header {
    float: left;
    position: fixed;
    width: 270px;

    a {
      color: $linkhormal;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: $linkhover;
      }
    }
  }

  footer {
    bottom: 50px;
    float: left;
    position: fixed;
    width: 270px;
  }

  .content {
    float: right;
    padding-bottom: 50px;
    width: 500px;
  }
}

.page-container{
  background-color: #eee !important;
}


.custom-search-form .search-query .custom-list {
  padding: 10px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: width  0.2s ease-in-out;
  -moz-transition:width  0.2s ease-in-out;
  -o-transition: width  0.2s ease-in-out;
  transition: width  0.2s ease-in-out;
}


ul{
  list-style: none;
}

.pt {
  padding-top: 10px;
}

.pall {
  padding: 10px 20px 10px 20px !important;
}

.search-panel{
  background: #fff;
  margin: 10px 30px 25px 25px !important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

